.sidebar {
  flex: 1;
  background-color: rgb(46, 46, 50);
  padding: 0.5rem;
  padding-top: 0.2rem;
  font-size: 0.9rem;
}

.sidebar > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.sidebar > header > span {
  padding: 0.5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.main-content > div:first-child {
  padding-top: 0.5rem;
  display: flex;
  width: 100%;
}

.main-content > div:first-child {
  padding-right: 1rem;
}

.main-content > div:first-child > div {
  flex: 1;
  display: flex;
  padding-left: 1rem;
  justify-content: center;
  font-weight: 600;
}

.window button {
  background-color: transparent;
  border: none;
}

.sidebar button {
  padding: 0.5rem;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar button:hover {
  background: rgb(61, 61, 64);
}

.sidebar > ul {
  margin-top: 0.5rem;
}

.sidebar > ul > li[data-active="true"] {
  background: rgb(61, 61, 64);
}

.sidebar path {
  fill: white;
}

.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(34, 34, 38);
}

.main-content > header {
  flex: 1;
  margin-top: 1rem;
  text-align: center;
  align-items: center;
}

.appearance section {
  padding: 1rem 1rem 0 5rem;
}

.appearance section > header {
  margin-bottom: 0.5rem;
}

.main-content main {
  width: 100%;
  flex: 4;
}

ul {
  margin: 0;
  padding-left: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: default;
  margin: 3px 0px;
}

.sidebar li:hover {
  background: rgb(61, 61, 64);
}

li button {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  padding: 0.5rem;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
}

li button:hover {
  background-color: rgb(95, 95, 95);
}

li svg {
  height: 1rem;
  width: 1rem;
}

.main-content main > div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

main.about-me > div > div {
  flex: 1;
  padding: 1rem;
}

main > div > div > div {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  font-size: 0.9rem;
}

div > svg {
  height: 1rem;
  width: 1rem;
}

.tech-entry {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.window {
  background-color: black;
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 60rem;
  height: 35rem;
  border-radius: 1rem;
  display: flex;
  overflow: hidden;
  border: rgb(50, 50, 53) solid 1px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.475);
}

.window-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.window-content {
  display: flex;
  padding: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.window-header div {
  display: flex;
  gap: 5px;
}

.window-header button:hover {
  filter: brightness(75%);
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
}

.frame {
  width: 100%;
}

.frame section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.frame section div {
  display: flex;
}

section ul {
  list-style: none;
}

.title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.frame div section {
  display: flex;
}

.desktop-background {
  background: url("https://ubuntucommunity.s3.us-east-2.amazonaws.com/original/3X/d/5/d5ad7d37bcaf71976ffbc85b4db7f4cf6c42b522.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 10rem;
  height: 7rem;
  border-radius: 0.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.flex-column {
  flex-direction: column;
}

.desktop-background .small-primary-white-window {
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(2rem) translateY(1.8rem);
  z-index: 2;
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.475);
}

.desktop-background .small-primary-dark-window {
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(2rem) translateY(1.8rem);
  z-index: 2;
  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.475);
}

.small-primary-white-window > div:first-child {
  background: hsl(0, 0%, 100%);
  flex: 1;
}

.small-primary-white-window > div:nth-child(2) {
  background: hsl(0, 0%, 98%);
  flex: 4;
  box-shadow: inset 0 2px 5px rgba(177, 176, 176, 0.542);
}

.small-primary-dark-window > div:first-child {
  background: hsl(0, 0%, 19%);
  flex: 1;
}

.small-primary-dark-window > div:nth-child(2) {
  background: hsl(0, 0%, 14%);
  flex: 4;
  box-shadow: inset 0 2px 5px hsl(0, 0%, 10%);
}

.desktop-background .small-secondary-dark-window {
  width: 5rem;
  height: 4rem;
  background: rgb(36, 36, 36);
  position: absolute;
  transform: translateX(3.5rem) translateY(1rem);
  border-radius: 0.2rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.475);
}

.desktop-background.active {
  border: 3px solid hsl(213, 76%, 55%);
}

.card {
  background: var(--card-background);
  border-radius: 0.6rem;
  padding: 0.5rem;
}

.section-title {
  font-size: 0.9rem;
  font-weight: 400;
}

.accent-circle {
  width: 1.5rem;
  height: 1.5rem;
  clip-path: circle();
  border-radius: 50%;
}

section[title="Desktop background"] > header {
  display: flex;
  justify-content: space-between;
}

.background-photo-preview {
  height: 100px;
  width: 150px;
  border-radius: 0.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
}
