.taskbar {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  align-items: center;
}

.container:has(div.backdrop) .taskbar {
  z-index: 2;
  background: rgb(34, 34, 38);
}

.taskbar > div:first-child {
  margin-left: 1rem;
}

.taskbar > div:last-child {
  margin-right: 1rem;
}

.taskbar button {
  border: none;
  padding: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: transparent;
}

.calendar-button {
  font-weight: 600;
  border-radius: 1rem;
}

.calendar-button > span {
  margin-left: 0.2rem;
}
.taskbar button:hover {
  background-color: rgb(27, 27, 27);
}

.btn-icon {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0.2rem;
}

.btn-icon path {
  fill: white;
}

.btn-icon:hover {
  background-color: rgb(27, 27, 27);
}

.system-actions {
  display: grid;
  grid-template-columns: 3;
  grid-auto-flow: column;
}

.datetime-area:has(.backdrop-transparent[data-active="true"]) > button {
  background-color: rgb(72, 72, 72);
}

.notification-calendar {
  position: fixed;
  transform: translateX(-15rem);
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 2;
  grid-auto-flow: column;
  gap: 1rem;
  background-color: rgb(54, 54, 58);
  padding: 1rem;
  padding-right: 0;
  border-radius: 1.5rem;
  z-index: 2;
}

.calendar-in-evidence {
  font-size: large;
  padding: 0;
  line-height: 1;
}

.calendar-in-evidence > div:first-child {
  font-size: small;
}

.calendar-area {
  padding: 1rem;
  padding-left: 0;
}

.calendar > div.day-events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(152, 152, 152);
}

.btn-calendar {
  background: rgb(75, 75, 75);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  cursor: default;
}

.btn-calendar:hover {
  background: rgb(87, 87, 87);
}

.day-events > span:first-child {
  font-weight: 600;
}

.day-events > span:nth-child(2) {
  font-style: italic;
}

.calendar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.calendar-header {
  font-weight: 600;
  color: rgb(152, 152, 152);
}

.calendar-header > span {
  font-size: 0.8rem;
}

.calendar svg {
  height: 1rem;
  width: 1rem;
}

table {
  font-size: 0.8rem;
}

table tr {
  line-height: 2rem;
}

table td {
  text-align: center;
}

table th {
  color: gray;
}

tbody td {
  border-radius: 50%;
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  cursor: default;
}

.today {
  background: rgb(43, 129, 203);
  border: 1px solid rgb(43, 129, 203);
  text-align: center;
}

.notification-calendar ~ .backdrop-transparent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  display: block;
}

.today:hover {
  filter: brightness(110%);
}

tr .day:hover {
  background: rgb(81, 81, 81);
}

section.notification svg {
  height: 5rem;
  width: 5rem;
  fill: #7f7f81;
}

section.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  padding: 0.5rem;
  color: #7f7f81;
  font-size: 1.2rem;
  font-weight: 600;
}
