@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  width: 100vw;
  height: 100vh;
  background: url("https://ubuntucommunity.s3.us-east-2.amazonaws.com/original/3X/d/5/d5ad7d37bcaf71976ffbc85b4db7f4cf6c42b522.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  font-family: "Noto Sans";
  font-weight: 300;
  color-scheme: dark light;
}

.light {
}

.dark {
  --primary: hsl(0, 0%, 99%);
  --card-background: hsl(240, 4%, 21%);
}
